<!-- ---
import DrawingContainer from '../components/drawing_container.astro';

---

<article class="bg-stone-500 py-4">
    <div class="section-setup text-center my-6">
        <div>
            <h2 class="font-serif text-3xl font-medium mb-2">
                Pencil Collection
            </h2>
            <p class="font-roboto text-sm mb-4">
                 Most recent pencil orders.
            </p>
        </div>

        <section class="flex justify-around items-end flex-wrap gap-4">
            <DrawingContainer 
                image=''
                height='h-[150px]',
                size='A5'
            />
            <DrawingContainer 
                image=''
                height='h-[250px]',
                size='A4'
            />
            <DrawingContainer 
                image=''
                height='h-[350px]',
                size='A3'
            />
        </section>
    </div>
 </article> -->