---
import '../styles.css'
import instaIcon from '../images/insta.png';
import whatIcon from '../images/what.png';


---

<footer class="bg-stone-800 text-stone-400 font-roboto">
    <section class="section-setup">
        <div class="sm:grid grid-cols-2 my-8 gap-8">
            <article class="mb-8" id="about">
                <h3 class="font-white text-lg font-bold mb-4 border-b w-fit">About me</h3>
                <p class=" pt-2 font-roboto text-sm">Chilled guy with a passion for drawing. I enjoy recreating realistic portaits in different mediums. I once saw how happy people were to see themselves drawn and simply followed that path to spread the smiles. Happy to do one for you too.</p>
            </article>
            <div>
                <h4 class="font-white text-lg font-bold mb-4 border-b w-fit">Socials</h4>
                <ul class="pt-2 text-sm">
                    <li>
                        <a href="https://www.instagram.com/by_nicodemus/" target="_blank" rel="noopener noreferrer" class="flex items-center">
                           <img src={instaIcon.src} alt="" width="20px" class="mr-2 mb-2"> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/by_nicodemus/" target="_blank" rel="noopener noreferrer" class="flex items-center">
                           <img src={whatIcon.src} alt="" width="20px" class="mr-2 mb-2 text-white"> Whatsapp
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- copyright section -->
         <div class="py-4">
            <p class="text-sm font-semibold">Handcrafted with love © 2016 All rights reserved.</p>
         </div>
    </section>
</footer>