---
import '../styles.css'

---

<header class="font-serif">
    <!-- header-content section -->
    <div class="main-bg md:bg-center">
        <div class="bg-black bg-opacity-50 min-h-70v pt-20">
            <section class="section-setup">
                <div class=" text-center w-fit mx-auto">
                    <div class="mb-8 sm:m-0 text-white w-[260px] h-[260px] mx-auto flex justify-center items-center flex-col bg-opacity-60 rounded-full bg-black sm:w-[500px] sm:h-[500px]">
                        <h3 class="text-3xl sm:text-6xl ">
                            HAND-DRAWN PORTRAITS
                        </h3>
                        <div class="font-roboto font-semibold mt-2 text-xs sm:text-base text-center text-white px-8">
                            <p>Where your favorite photos become your favorite works of art.</p>
                        </div>
                    </div>
                </div>
             </section>
        </div>
    </div>
</header>