---

---
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
        border: 1px solid #cbcbcc; 
        padding: 0.1rem 0.2rem; 
    }

    @media screen and (min-width: 650px) {
        th, td {
            padding: 0.5rem 1rem; 
        }
    }

    @media screen and (min-width: 480) {
        th, td {
            padding: 0.25rem 0.5rem; 
        }
    }

  </style>

<table class="text-xs md:text-sm mt-8 md:m-0">
    <thead>
        <tr>
            <th></th>
            <th colspan="3">Pencil</th>
            <th colspan="3">Color Pencil</th>
        </tr>
        <tr>
            <th colspan="1">Size/People</th>
            <th>1</th>
            <th>2</th>
            <th>3+</th>
            <th>1</th>
            <th>2</th>
            <th>3+</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A5</td>
            <td>R 250</td>
            <td>R 360</td>
            <td>-</td>
            <td>R 360</td>
            <td>R 400</td>
            <td>-</td>
        </tr>
        <tr>
            <td>A4</td>
            <td>R 390</td>
            <td>R 500</td>
            <td>R 630</td>
            <td>R 450</td>
            <td>R 560</td>
            <td>R 750</td>
        </tr>
        <tr>
            <td>A3</td>
            <td>R 590</td>
            <td>R 760</td>
            <td>R 930</td>
            <td>R 700</td>
            <td>R 920</td>
            <td>R 1250+</td>
        </tr>
        <tr>
            <td>A2</td>
            <td>R 960</td>
            <td>R 1250</td>
            <td>R 2100</td>
            <td>R 1800</td>
            <td>R 2360</td>
            <td>R 3400</td>
        </tr>
        <tr>
            <td>A1</td>
            <td colspan="6">Coming soon</td>
        </tr>
        <tr>
            <td>A0</td>
            <td colspan="6">Coming soon</td>
        </tr>
    </tbody>
</table>